.head{
    background-color: #2c3e50;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }

 .head a{
    text-decoration: none;
    white-space: nowrap;
 }
.logo{
    color: aliceblue;
    height: 25px;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    border: 2px solid aliceblue;
    border-radius:10px ;
    
   }
.d1{
   color: aliceblue;
    height: 10px;
    padding: 10px;
    margin: 10px;
}

.d2{
    color: aliceblue;
    height: 10px;
    padding: 10px;
    margin: 10px;  
}
.d3{
    color: aliceblue;
    height: 10px;
    padding: 10px;
    margin: 10px;    
}
.d4{
    color: aliceblue;
    height: 10px;
    padding: 10px;
    margin: 10px; 
}

.d5{  color: aliceblue;
    height: 10px;
    padding: 10px;
    margin: 10px; 
}

.big{
    
    direction:rtl;
    background-color: rgba(184, 183, 161, 0.5) ;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;

 }
.artical1{
   
    color: #000;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    padding:10px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgba(56, 56, 110, 0.2); 
}
.artical2{
   
    color: #000;
     text-align: center;
     margin: 10px;
     margin-bottom: 20px;
     padding: 10px;
     border: 1px solid gray;
     border-radius: 20px;
     background-color: rgba(97, 97, 131, 0.2); 
}
.artical3{
 
    color: #000;
    text-align: center;
    margin:10px;
    margin-bottom: 20px;
     padding: 10px;
     border: 1px solid gray;
     border-radius: 20px;
     background-color: rgba(97, 97, 131, 0.2);   
}

.privacy{
    color: black;
    background-color: rgba(97, 97, 131, 0.2);
    padding: 10px;
    margin: 10px;
    border: 5px solid #2c3e50 ; 
    border-radius: 20px;
    direction: rtl;  
}

.about{
    color: black;
    background-color: rgba(97, 97, 131, 0.2);
    padding: 10px;
    margin: 10px;
    border: 5px solid #2c3e50 ; 
    border-radius: 20px;
    direction: rtl;      
}

.contact{
    background-color: rgba(97, 97, 131, 0.2); 
    color: black;
    padding: 10px;
    margin: 10px;
    border: 5px solid #2c3e50 ; 
    border-radius: 20px; 
    direction: rtl;
}
.fa-reply-all{
font-size: 40px;

}
.fa-envelope{

  font-size: 50px;
  color: #000;  
}

.fa-telegram{
    font-size: 50px;
    color:rgb(119, 202, 235);
}
.fa-skype{
    font: 3em sans-serif;
    color: rgb(22, 22, 231);
}

.fa-facebook{
    font-size: 90px;
    color: #1877f2;
}

.fa-instagram{
    font-size: 90px;
    border-radius: 20px;
    height: 80px;
    background: linear-gradient(45deg, #833AB4, #E1306C, #FD1D1D, #FCAF45);   
}


.fa-square-snapchat{
    font-size: 90px;
    color: #fffc00;
    
}


.facebook{
    color: black;
    background-color: rgba(0, 0, 255,0.2);
   
    padding: 10px;
    margin: 10px;
    border: 5px solid  #1877f2 ; 
    border-radius: 20px;
    h1{
        color: #1877f2 ;
    }  
    direction: rtl;   
}

.instgram{

    color: black;
    background-color: rgba(241, 168, 235, 0.2);
    padding: 10px;
    margin: 10px;
    border: 5px solid  #833AB4 ; 
    border-radius: 20px;
    h1{
        color:#833AB4 ;
    }  
    direction: rtl;    
}

.snapchat{
    color: black;
    background-color: rgba(236, 241, 168, 0.2);
    padding: 10px;
    margin: 10px;
    border: 5px solid  #fffc00 ; 
    border-radius: 20px;
    h1{
        color:#fffc00 ;
    } 
    direction: rtl;       
}
footer{
    width: 100%;
    height: 100px;
    background-color:#192202 ;
    color: #fff;
    text-align: center;
}

